<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg" padding>
  <div *ngFor="let phase of phases" text-center [hidden]="phase.dead">
    <ion-card-content>
      <ion-card color="light">
        <ion-card-title>
          {{ phase.unit_name }}
        </ion-card-title>
        <ion-card-title>
          {{ phase.name }}
        </ion-card-title>
        <h2 *ngIf="phase.command_ability">
          Command Ability
        </h2>
        <ion-card-title>
          {{ phase.phase }}
        </ion-card-title>
        <ion-card-content>
          {{ phase.description }}
        </ion-card-content>
        <ion-card-content *ngIf="phase.magic_phase">
          Casting Value: {{ phase.casting_value }}
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </div>
</ion-content>
