<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg" padding text-center>
  <div [hidden]="!abilities">
    <div *ngFor="let ability of unitModalArray">
      <ion-card>
        <ion-card-content>
          Name: {{ ability.name }}
        </ion-card-content>
        <ion-card-content>
          Phase: {{ ability.phase }}
        </ion-card-content>
        <ion-card-content>
          Description: {{ ability.description }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div [hidden]="!command_abilities">
    <div *ngFor="let command_ability of unit.command_ability">
      <ion-card>
        <ion-card-content>
          Name: {{ command_ability.name }}
        </ion-card-content>
        <ion-card-content>
          Phase: {{ command_ability.phase }}
        </ion-card-content>
        <ion-card-content>
          Description: {{ command_ability.description }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div [hidden]="!magic">
    <div *ngFor="let spell of unit.magic">
      <ion-card>
        <ion-card-content>
          Name: {{ spell.name }}
        </ion-card-content>
        <ion-card-content>
          Phase: {{ spell.phase }}
        </ion-card-content>
        <ion-card-content>
          Casts On: {{ spell.casting_value }}
        </ion-card-content>
        <ion-card-content>
          Description: {{ spell.description }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div [hidden]="!melee_weapons">
    <div *ngFor="let weapon of unit.melee_weapon">
      <ion-card>
        <ion-card-content>
          Name: {{ weapon.name }}
        </ion-card-content>
        <ion-card-content>
          Range: {{ weapon.range }}
        </ion-card-content>
        <ion-card-content>
          Attacks: {{ weapon.attacks }}
        </ion-card-content>
        <ion-card-content>
          To Hit: {{ weapon.to_hit }}
        </ion-card-content>
        <ion-card-content>
          To Wound: {{ weapon.to_wound }}
        </ion-card-content>
        <ion-card-content>
          Rend: {{ weapon.rend }}
        </ion-card-content>
        <ion-card-content>
          Damage: {{ weapon.damage }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div [hidden]="!missile_weapons">
    <div *ngFor="let weapon of unit.missile_weapons">
      <ion-card>
        <ion-card-content>
          Name: {{ weapon.name }}
        </ion-card-content>
        <ion-card-content>
          Range: {{ weapon.range }}
        </ion-card-content>
        <ion-card-content>
          Attacks: {{ weapon.attacks }}
        </ion-card-content>
        <ion-card-content>
          To Hit: {{ weapon.to_hit }}
        </ion-card-content>
        <ion-card-content>
          To Wound: {{ weapon.to_wound }}
        </ion-card-content>
        <ion-card-content>
          Rend: {{ weapon.rend }}
        </ion-card-content>
        <ion-card-content>
          Damage: {{ weapon.damage }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
